\# Java class files
*.class

# Tmp files of editors
*.swp

#IntelliJ IDEA
#.idea/workspace.xml
#.idea/task.xml
.idea/*

# log files
*.log

# Mac OS X Desktop Service Store files
.DS_Store

#server compiled file
*.pyc

target
*.orig

out/

nachos/test/*.o
nachos/test/*.s
nachos/test/*.coff
nachos/test/libnachos.a